html {
    font-family:
'AdobeGaramondW01-Regula',
georgia, serif;
    font-size: 17px;
    line-height: 1.54em;
}
htm, body {
    margin: 0;
    padding: 0;
}

/*-------------Header---------------------*/

header {
    background: rgba(216, 223,225,0.8);
    margin: 0;
    padding: 0;
    object-fit: cover;
}

img {
    height: 85vh;
    margin: 0;
    padding: 0;
    object-fit: cover;

    div.headlines {
        padding-bottom: 1.6rem;
      }

h1 {
    font-size: 10vw;
    color: darken($color, 12%);
}

h2 { 
    margin: 1.4em 0 0.8em;
    color: darken ($color, 20%);
}

h4, h6 {
    font-weight: normal;
}

h4 {
    margin: 1.6em 0;
    font-size: 3.5vw;
}

h6 {
    margin: 0;
    font-size: 2.5vw;
    font-style: italic;
}

@media (min-width: 600px) {
    header {
        height: 100vh;
    }

img {
    float: left;
    height: 100vh;
    width: 48vw;
}

div.headlines {
    float: right;
    width: 45vw;
    height: 100vh;
    padding: 2vh 3vw;
    display: flex;
}

